name: Build Docker image
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '40 3 * * *'

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
      - name: Run the build
        run: |
          set -eux
          sudo apt install podman -y
          export DATE=$(date +%Y%m%d)
          export IMAGE=$GITHUB_REPOSITORY
          podman build . --env GIT_REV=$GITHUB_SHA --tag $REGISTRY/$IMAGE:$DATE --tag $REGISTRY/$IMAGE:latest
          if [[ ${GITHUB_REF} == 'refs/heads/main' &&  ${GITHUB_EVENT_NAME} == 'push' ]] || [[ ${GITHUB_EVENT_NAME} == 'schedule' ]]; then
            echo $PASSWORD | podman login $REGISTRY -u $GITHUB_REPOSITORY_OWNER --password-stdin
            podman push $REGISTRY/$IMAGE:latest
            podman push $REGISTRY/$IMAGE:$DATE
          fi;
 
        env:
          REGISTRY: ghcr.io
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
